body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

form {
    text-align: center;
}

#greeting-message {
    font-size: 24px;
    margin-top: 20px;
}
